---
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'

interface Props {
	title?: string
	description?: string
	image?: string
	ogTitle?: string
	hideFooter?: boolean
}

const {
	title,
	description,
	image,
	ogTitle,
	hideFooter = false,
} = Astro.props

import '@fontsource-variable/inter'
import '@fontsource-variable/jetbrains-mono'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title || SITE_TITLE}
			description={description || SITE_DESCRIPTION}
			image={image}
			ogTitle={ogTitle}
		/>
	</head>
	<body
		class="text-foreground bg-background font-light dark:text-foreground-dark dark:bg-background-dark transition-colors rainbow-bg-soft relative"
	>
		<div class="rainbow-stripe fixed top-0 left-0 right-0 z-50"></div>
		<Navbar title={SITE_TITLE} />
		<slot />
		{!hideFooter && <Footer />}
		<div class="rainbow-stripe fixed bottom-0 left-0 right-0 z-50"></div>
	</body>
</html>